<app-header></app-header>
<section class="hero-wrap hero-wrap-2" style="background-image: url('../../../assets/images/bg-text-2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container ">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">About Us</h1>
                <p class="breadcrumbs"><span class="mr-2"><a [routerLink]="['/']">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
                            class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters">
            <!-- style="background-image: url(../../../assets/images/user.png);" -->
            <div class="col-md-5 p-md-5 img img-2">
                <img src="./../../../assets/images/user.png" width="100%" alt="">
            </div>
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section mb-5 pl-md-5">
                    <div class="pl-md-5 ml-md-5">
                        <!-- <span class="subheading subheading-with-line"><small class="pr-2 bg-white">About</small></span> -->
                        <h2 class="mb-4">Sales + Marketing Director </h2>
                    </div>
                </div>
                <div class="pl-md-5 ml-md-5 mb-5">
                    <p><strong>Manish Indal Dhone</strong>, The ultimate personality and a proprieter of Indal Group of Companies.
                    </p>
                    <p>The founder of Indal Group which has multiple branches i.e </p>
                    <ul>
                        <li><strong>Indal Infra & Interiors</strong></li>
                        <li><strong>Indal ProjectIQ's</strong></li>
                        <li><strong>Indal Gruh Udyog</strong></li>
                        <li><strong>Indal Club Holiday's Pvt. Ltd.</strong></li>
                        <li><strong>Red Carpet Production</strong></li>
                    </ul>

                    <p>Indal Group of Companies originated from Nagpur and latel with all hardwork and dedication
                        <strong>Manish Indal Dhone</strong> prosperingly took these companies towards Mumbai region.</p>
                    <p><a [routerLink]="['/contact-us']" class="btn-custom">Contact Me! <span
                                class="ion-ios-arrow-forward"></span></a></p>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-5">
            <div class="col-md-7 wrap-about pb-md-5 ftco-animate">
                <div class="heading-section mb-5 pr-md-5">
                    <!-- <span class="subheading subheading-with-line"><small class="pr-2 bg-white">About</small></span> -->
                    <div class="pr-md-5 mr-md-5">
                        <h2 class="mb-4">CEO + Head Designer</h2>
                    </div>
                </div>
                <div class="pr-md-5 mr-md-5 mb-5">
                    <p><strong>Sagar Jayesh Vadsak</strong>, former CEO and Head Designer of Indal Group of Companies.
                    </p>
                    <p>Persued Interior Designing Course i.e Diploma & Degree from St. Francis Institute of Art & Design.
                    </p>
                    <p>Lately after completion of studies, worked as a Freelancer and also is into Material Supplying for Interior and Marketing Executive. Hardwork paid off one fine day and very opportunistically
                        <strong>
                            Sagar Jayesh Vadsak</strong> became the <strong>Head of Indal Infra & Interiors</strong>.
                    </p>
                    <p><a [routerLink]="['/contact-us']" class="btn-custom">Contact Me! <span
                                class="ion-ios-arrow-forward"></span></a></p>

                </div>
            </div>
            <!-- style="background-image: url(../../../assets/images/user.png);" -->
            <div class="col-md-5 p-md-5 img img-2">
                <img src="./../../../assets/images/user.png" width="100%" alt="">
            </div>
        </div>
        <div class="row mt-5 pt-4">
            <!-- <div class="col-md-4 heading-section ftco-animate">
    <span class="subheading subheading-with-line"><small class="pr-2 bg-light">Indal Group of
        Companies</small></span>
    <p>Indal Grourp of Companies is among the pioneering company Infrastructure and Services for interior space.
      Our ideas are essential elements for modern, beautiful & functional interior environments. We assist
      Architects & Designers by
      providing a wide range of Solutions for each projects.</p>
    <p>Indal Group is also commited for the research and application of energy conservation, acoustics,
      environment protection and in creating a comfortable surrounding for all its clients.</p>
  </div> -->
            <div class="col-md-6 heading-section ftco-animate">
                <span class="subheading subheading-with-line"><small class="pr-2 bg-light">Vision</small></span>
                <!-- <h3 class="h4">Vision</h3> -->
                <p>
                    We promise to provide customer oriented solutions with the best products, services and pricing and hence build a strong trustworthy relationship with our Clients and make Indal Group the first first choice for all our customers.
                </p>
            </div>
            <div class="col-md-6 heading-section ftco-animate">
                <span class="subheading subheading-with-line"><small class="pr-2 bg-light">Mission</small></span>
                <!-- <h3 class="h4">Mission </h3> -->
                <p>To thoroughly assess each requirement and to ensure that we not only meet but exceed client expectations by providing the most efficient solutions via effective use of our products & services.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section ftco-animate">
                <span class="subheading subheading-with-line"><small class="pr-2 bg-light"> More About Us</small></span>
                <h2 class="mb-4">Indal Group of Companies
                </h2>
                <p>We are among the pioneering company Infrastructure and Services for interior space. Our ideas are essential elements for modern, beautiful & functional interior environments. We assist Architects & Designers by providing a wide range of
                    Solutions for each projects.</p>
                <p>Indal Group is also commited for the research and application of energy conservation, acoustics, environment protection and in creating a comfortable surrounding for all its clients.</p>
            </div>
        </div>
        <!-- <div class="row ftco-animate">
          <div class="col-md-12">
              <div class="carousel-testimony owl-carousel">
                  <div class="item">
                      <div class="testimony-wrap p-4 pb-5">
                          <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_1.jpg)">
                              <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
            </span>
                          </div>
                          <div class="text">
                              <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                              <div class="pl-5">
                                  <p class="name">Garreth Smith</p>
                                  <span class="position">CEO Founder of Commercial Building</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testimony-wrap p-4 pb-5">
                          <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_2.jpg)">
                              <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
            </span>
                          </div>
                          <div class="text">
                              <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                              <div class="pl-5">
                                  <p class="name">Garreth Smith</p>
                                  <span class="position">CEO Founder of Interior Design</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testimony-wrap p-4 pb-5">
                          <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_3.jpg)">
                              <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
            </span>
                          </div>
                          <div class="text">
                              <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                              <div class="pl-5">
                                  <p class="name">Garreth Smith</p>
                                  <span class="position">Exterior Designer</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testimony-wrap p-4 pb-5">
                          <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_1.jpg)">
                              <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
            </span>
                          </div>
                          <div class="text">
                              <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                              <div class="pl-5">
                                  <p class="name">Garreth Smith</p>
                                  <span class="position">Landscape Designer</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="testimony-wrap p-4 pb-5">
                          <div class="user-img mb-5" style="background-image: url(../../../assets/images/person_1.jpg)">
                              <span class="quote d-flex align-items-center justify-content-center">
              <i class="icon-quote-left"></i>
            </span>
                          </div>
                          <div class="text">
                              <p class="mb-5 pl-4 line">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                              <div class="pl-5">
                                  <p class="name">Garreth Smith</p>
                                  <span class="position">System Analyst</span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
    </div>
</section>
<app-footer></app-footer>