<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Indal Group of Companies</h2>
                    <!-- <p>Whatever your slogan is.</p> -->
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Links</h2>
                    <ul class="list-unstyled">
                        <li><a [routerLink]="['/']"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                        <li><a [routerLink]="['/about-us']"><span class="icon-long-arrow-right mr-2"></span>About Us</a>
                        </li>
                        <li><a [routerLink]="['/contact-us']"><span class="icon-long-arrow-right mr-2"></span>Contact
                                Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Verticals</h2>
                    <ul class="list-unstyled">
                        <li><a [routerLink]="['/infra-and-interiors']"><span
                                    class="icon-long-arrow-right mr-2"></span>Indal Group of Infra &
                                Interiors</a></li>
                        <li><a [routerLink]="['/gruh-udyog']"><span class="icon-long-arrow-right mr-2"></span>Indal Gruh
                                Udyog</a></li>
                        <li><a [routerLink]="['/red-carpet-productions']"><span
                                    class="icon-long-arrow-right mr-2"></span>Red Carpet Productions</a>
                        </li>
                        <li><a [routerLink]="['/project-iq']"><span class="icon-long-arrow-right mr-2"></span>Indal
                                ProjectIQ's</a></li>
                        <li><a [routerLink]="['/club-holidays-pvt-ltd']"><span
                                    class="icon-long-arrow-right mr-2"></span>Indal Club Holidays Pvt.
                                Ltd.</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Social Handles</h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                    <!-- <p>Far far away, behind the word mountains, far from the countries.</p>
                    <form action="#" class="subscribe-form">
                        <div class="form-group">
                            <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                            <input type="submit" value="Subscribe" class="form-control submit px-3">
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | Designed & Developed
                    <!-- by -->
                    with <i class="icon-heart" aria-hidden="true"></i>
                    <!-- Shlok Chavan -->
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>